*{
  font-family: "Open Sans", serif;
}


#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 40px;
}


.tips1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  padding-bottom: 8px;
  margin: 0;
}

h1 {
  margin-top: 0px;
  margin-bottom: 40px;
}

#img1{
  margin-top: 4px;
  border-radius: 28px;
}

#imgfig {
  margin-top: 24px;
  margin-bottom: 40px;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

#divisor {
  border-top: 1px solid silver;
  opacity: 30%;
}

#about {
  margin: 64px 0;
}

.tips2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  margin: 0;
}

h2 {
  margin-top: 2px;
  margin-bottom: 0;
}

#pabout{
  margin: 0;
}